
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 0px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    box-shadow: inset 1px 3px 2px rgba(148, 146, 146, 0.1);
    z-index: 100;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 2s ease forwards;
    
}

#about p{

    width: 90%;
    max-width: 800px;
    text-align: center;
}
