#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 3px 2px rgba(148, 146, 146, 0.1);
    transform: translateY(30px);
    animation: fadeInUp 5s ease forwards;
    margin-top: 10px;
    padding-top: 10px ;
    font-size: 19px;
}
.social {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

/* الكتلة لكل أيقونة */
.icons a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* حجم الأيقونات */
.icons img {
    width: 35px;
    height: 35px;
    transition: transform 0.4s ease;
}

/* حركة الأيقونة عند الـ hover */
.icons a:hover img {
    transform: scale(1.15) rotate(5deg);
}

/* الخط اللي يظهر تحت النص */
.icons a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #007bff;
    transition: width 0.4s ease;
}

/* عند المرور بالماوس */
.icons a:hover {
    color: #007bff;
    transform: translateY(-5px);
}

.icons a:hover::after {
    width: 100%;
}
footer{
    font-size: 12px;
}