body{
    margin: 0;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
    
}
html{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a{
    text-decoration: none;
    color: black;
}

