* {
    box-sizing: border-box;
}


body{
    margin: 0;
    padding-top: 30px;
    box-sizing: border-box;
    padding-bottom: 20px;

    
}
html{
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a{
    text-decoration: none;
    color: black;
}

@media (max-width: 1300px) {
    header {
        display: flex;
        flex-direction: column;
        padding: 10px;
            width: 99%;
            max-width: 1200px;
    }

    .project {
        flex-direction: column;
    }

    .project img,
    .project-info {
        width: 90%;
    }

    nav {
        gap: 30px;
    }

    .social {
        gap: 40px;
    }
}
@media (min-width: 601px) and (max-width: 993px) {
    header {
        padding: 15px;
        flex-direction: column;
        align-items: center;
        
    }

    .profile-picture img {
        width: 130px;
        height: 100%;
    }

    nav {
        flex-direction: column;
        
        justify-content: space-between;
        gap: 10px;
    }

    h1#myname {
        font-size: 24px;
    }

    .job p {
        font-size: 14px;
    }

    .project {
        flex-direction: column;
        align-items: center;
    }

    .project img,
    .project-info {
        width: 90%;
    }

    .social {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
}

/* للشاشات الأقل من 600px (موبايل) */
@media (max-width: 600px) {
    header {
        padding: 10px;
        width: 90%;
        max-width: 599px;
    }

    .profile-picture img {
        width: 120px;
        height: 120px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h1#myname {
        font-size: 20px;
    }

    .job p {
        font-size: 5px;
        margin-right: 2px;
    }

    .project img,
    .project-info {
        width: 100%;
    }

    .social {
        flex-direction: column;
        gap: 13px;
    }

    .icons a {
        font-size: 18px;
    }

    footer p {
        font-size: 13px;
    }
}