#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 3px 2px rgba(148, 146, 146, 0.1);
    transform: translateY(30px);
    animation: fadeInUp 5s ease forwards;
}
#projects h2{
    font-size: 23px;
}
.project {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
}
.project-name {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.project-description {
    font-size: 16px;
    text-align: center;
}
.project img {
    border-radius: 30%;
    height: 300px;
    width: 300px;
    will-change: transform;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 3s ease forwards;
    transition: all 1s ease-in-out;
}
.project img:hover{
    width:350px ;
    height: 350px;
    transform: scale(1.12);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
